<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">

    <footer class="footer mt-5">

        <div class="container-fluid">

            <hr>

            <div class="row">

                <div class="col-md-6">

                    <p class="text-muted mb-0">

                        © 2026 College ERP System

                    </p>

                </div>

                <div class="col-md-6 text-end">

                    <p class="text-muted mb-0">

                        Developed by <strong>SHEIKH</strong>

                    </p>

                </div>

            </div>

        </div>

    </footer>

</div>

</html>